* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

footer {
  background-color:#3c3744;
  height:50px;
}

footer p {
  text-align: center;
  color:#FBFFF1;
}

form {
  margin: 20px;
}

textarea {
  display:block;
  width:80%
}

img {
  display: block;
  margin: auto;
}


.logoHeader {
    display: flex;
    justify-content:center;
    background-color: #FBFFF1;
}
/* Style the side navigation */
.sidenav {
    background-color: #3d52d5;
    overflow: hidden;
}


/* Side navigation links */
.sidenav a {
    float:left;
    color: white;
    padding: 16px;
    text-align:center;
    display: block;
    padding:14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #b4c5e4;
    color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .sidenav a {
    float: none;
    width: 100%;
  }
}

/* Style the content */
.content {
  margin:30px;
}

.DomNChels {
  display: block;
  margin: auto;
}

.phototypes {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  padding: 10px;
}

.grid-container1 {
  display:grid;
  grid-template-columns: auto auto;
  align-content: center;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  align-content: center;
}

.EggRoll {
  text-align: center;
}

.EggRoll a {
  text-align:center;
  color: black;
}
