* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

footer {
  background-color:#3c3744;
  height:50px;
}

footer p {
  margin-left: 265px;
  text-align: center;
  color:#FBFFF1;
}

form {
  margin-left: 210px;
}

textarea {
  display:block;
  width:80%
}

.logoHeader {
    display: flex;
    justify-content:center;
    margin-left: 275px;
    background-color: #FBFFF1;
}
/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3d52d5;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #b4c5e4;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

.DomNChels {
  display: block;
  margin: auto;
}

.phototypes {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 375px 375px 375px;
  align-content: center;
  padding: 10px;
}

.grid-container1 {
  display:grid;
  grid-template-columns: 562.5px 562.5px;
  align-content: center;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
